*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
}
#container{
    background: url("/img/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.cabecera{
    background: #74b9ff;
    padding: 0% 3% 2px 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{   
    font-size: 2em;
    color: #fff;
}
.menu{
    display: flex;
    font-size: 20px;
}
.menu p{
    margin-left: 10px;
    cursor: pointer;
    padding: 10% 5px;
    color: #fff;
}
.menu p:hover{
    color: #1e293b;
}
.Titulo{
    margin: 9% 0 0 3%;
    font-size: 2em;
    color: #fff;
}
.texto{
    font-size: 22px;
    margin: 10px 0 0 3%;
    color: #fff;
}
.boton{
    cursor: pointer;
    margin: 30px 0 0 3%;
    background-color: #dfe6e9;
    border-radius: 1.5rem;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 200;
    line-height: 1;
    padding: 1rem 1.6rem;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgb(84, 89, 99);
    touch-action: manipulation;
}
.boton:hover{
    background-color: #1e293b;
    color: #fff;
}
