*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
}
#container{
    background: url("/img/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.cabecera{
    background: #74b9ff;
    padding: 0% 3% 2px 3%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo h1{   
    font-size: 2em;
    color: #fff;
    cursor: pointer;
}
.menu{
    display: flex;
    font-size: 20px;
}
.menu p{
    margin-left: 10px;
    cursor: pointer;
    padding: 10% 5px;
    color: #fff;
}
.menu p:hover{
    color: #1e293b;
}
.Titulo{
    margin: 0 0 0 3%;
    font-size: 2em;
    color: #74b9ff;
    padding-top: 15%;
}
.texto{
    font-size: 22px;
    margin: 10px 0 0 3%;
    color: #74b9ff;
}
.boton{
    cursor: pointer;
    margin: 30px 0 0 3%;
    background-color: #74b9ff;
    color: #fff;
    border-radius: 1.5rem;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 200;
    line-height: 1;
    padding: 1rem 1.6rem;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgb(84, 89, 99);
    touch-action: manipulation;
}
.boton:hover{
    background-color: #1e293b;
    color: #fff;
}
#nosotros{
    width: 100%;
    height: 100vh;
}
.t_nosotros{
    font-size: 2em;
    padding-top: 10%;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-between;
    margin-top: 6%;
}
.card{
    width: 25%;
    text-align: center;
    background: #0984e3;
    border-radius: 5px;
    padding: 3% 3% 6% 3%;
    box-shadow: 5px 6px 20px 0 rgba(0, 0, 0, 0.425);
    color: #fff;
}
.card p{
    margin-top: 20px;
}
.card h1{
    font-size: 2em;
}
.card1{
    margin-left: 3%;
}
.card3{
    margin-right: 3%;
}
.cowork img{
    width: 100%;
    margin-bottom: 10px;
}
.cafe img{
    width: 75%;
}
#pie{
    color: #fff;
    background: #74b9ff;
    padding: 2%;
    display: flex;
    margin-top: 15%;
    justify-content: space-between;
    align-items: center;
}
