*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
}
#container{
    padding: 2% 0 0 3%;
    background: #dfe6e9;
    height: 100vh;
}
.Titulo{
    margin-top: 13%;
    font-size: 2em;
}
.texto{
    font-size: 22px;
    margin-top: 10px;
}
.boton{
    cursor: pointer;
    margin-top: 30px;
    background-color: #dfe6e9;
    border-radius: 1.5rem;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 200;
    line-height: 1;
    padding: 1rem 1.6rem;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgb(84, 89, 99);
    touch-action: manipulation;
}
.boton:hover{
    background-color: #1e293b;
    color: #fff;
}
